.wholePage {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-x: clip;
    z-index: -20;
}

/* Cloud Creation */

@media only screen and (max-width: 3760px) {

.title {
    font-size: 50px !important;
    margin-bottom: 100px !important;
}

.toBeSmaller {
    color: black;
    text-decoration: none;
    border: 5px solid black;
    padding: 10px;
    background-color: white;
}

.theCard {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    background: none !important;
    border: none !important;
}

.cloud1 {
position: absolute;
top: 150px;
left: 70px;
width: 150px;
height: 70px;
border-radius: 100px;
border-top: 2px solid white;
border-left: 2px solid white;
border-right: 2px solid white;
border-bottom: 2px solid white;
z-index: -2;
background: white;
}
.cloud2 {
    position: absolute;
    top: 135px;
    left: 120px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: -2;
    background: white;
}
.cloud3 {
    position: absolute;
    top: 115px;
    left: 170px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: -2;
    background: white;
}
.cloud4 {
    position: absolute;
    top: 135px;
    left: 270px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: -1;
    background: white;
}
.cloud5 {
    position: absolute;
    top: 150px;
    left: 270px;
    width: 150px;
    height: 70px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: -1;
    background: white;

    /* Cloud Animations */
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloud2 {
    0% {
        margin-left: -2000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud2 {
    0% {
        margin-left: -2000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud2 {
    0% {
        margin-left: -2000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloud3 {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud3 {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud3 {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }
}

/* Cloud positioning and speed */

.cloud {
    -webkit-animation: animateCloud 90s linear infinite;
    -moz-animation: animateCloud 90s linear infinite;
	animation: animateCloud 90s linear infinite;
	
	-webkit-transform: scale(0.70);
	-moz-transform: scale(0.70);
	transform: scale(0.70);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud2 {
    position: absolute;
    top: 400px;
    -webkit-animation: animateCloud 65s linear infinite;
    -moz-animation: animateCloud 65s linear infinite;
	animation: animateCloud 65s linear infinite;
	
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud3 {
    position: absolute;
    top: 275px;
    z-index: 4;
    -webkit-animation: animateCloud2 68s linear infinite;
    -moz-animation: animateCloud2 68s linear infinite;
	animation: animateCloud2 68s linear infinite;
	
	-webkit-transform: scale(0.98);
	-moz-transform: scale(0.98);
	transform: scale(0.98);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud4 {
    position: absolute;
    top: 350px;
    -webkit-animation: animateCloud3 52s linear infinite;
    -moz-animation: animateCloud3 52s linear infinite;
	animation: animateCloud3 52s linear infinite;
	
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud5 {
    position: absolute;
    top: 75px;
    -webkit-animation: animateCloud3 80s linear infinite;
    -moz-animation: animateCloud3 80s linear infinite;
	animation: animateCloud3 80s linear infinite;
	
	-webkit-transform: scale(0.54);
	-moz-transform: scale(0.54);
	transform: scale(0.54);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud6 {
    position: absolute;
    top: 300px;
    -webkit-animation: animateCloud3 60s linear infinite;
    -moz-animation: animateCloud3 60s linear infinite;
	animation: animateCloud3 60s linear infinite;
	
	-webkit-transform: scale(0.52);
	-moz-transform: scale(0.52);
	transform: scale(0.52);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud7 {
    position: absolute;
    top: 375px;
    z-index: 3;
    -webkit-animation: animateCloud2 80s linear infinite;
    -moz-animation: animateCloud2 80s linear infinite;
	animation: animateCloud2 80s linear infinite;
	
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
    overflow:-moz-hidden-unscrollable;
}

.wholeCloud8 {
    position: absolute;
    top: 25px;
    -webkit-animation: animateCloud2 90s linear infinite;
    -moz-animation: animateCloud2 90s linear infinite;
	animation: animateCloud2 90s linear infinite;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
    overflow:-moz-hidden-unscrollable;
}

/* Mountain Creation */

.mountainOne {
    position: absolute;
    bottom: 0px;
    left: -400px;
    border-top: 0px solid transparent;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 305px solid lightGrey;
    z-index: -3;
}

.mountainTwo {
    position: absolute;
    bottom: 0px;
    left: 400px;
    border-top: 0px solid transparent;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 425px solid rgb(168,168,168);
    z-index: -3;
}

.mountainThree {
    position: absolute;
    bottom: 0px;
    left: 570px;
    border-top: 0px solid transparent;
    border-left: 375px solid transparent;
    border-right: 375px solid transparent;
    border-bottom: 250px solid rgb(96,96,96);
    z-index: -2;
}

.mountainFour {
    position: absolute; 
    bottom: 0px;
    left: 780px;
    border-top: 0px solid transparent;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-bottom: 605px solid rgb(208,208,208);
    z-index: -3;
}

.mountainFive {
    position: absolute; 
    bottom: 0px;
    right: 0px;
    border-top: 0px solid transparent;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 550px solid rgb(160,160,160);
    z-index: -2;
}

.mountainSix {
    position: absolute ;
    bottom: 0px;
    right: 0px;
    border-top: 0px solid transparent;
    border-left: 500px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 400px solid rgb(72,72,72);
    z-index: -1;
};

.mountainSeven {
    position: absolute;
    bottom: 0px;
    left: 150px;
    border-top: 0px solid transparent;
    border-left: 350px solid transparent;
    border-right: 350px solid transparent;
    border-bottom: 525px solid grey;
}

.sun {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-top: 2px solid rgb(255,196,12);
    border-left: 2px solid rgb(255,196,12);
    border-right: 2px solid rgb(255,196,12);
    border-bottom: 2px solid rgb(255,196,12);
    background: rgb(255,196,12);
    z-index: -3;
}

.stickMe {
        z-index: 4;
        position: absolute;
        right: 50px;
        bottom: 0px;
        height: 200px;
}
}

@media only screen and (max-width: 600px) {

    .cloud1 {
    position: absolute;
    top: 150px;
    left: 70px;
    width: 150px;
    height: 70px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: -2;
    background: white;
    }
    .cloud2 {
        position: absolute;
        top: 135px;
        left: 120px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        z-index: -2;
        background: white;
    }
    .cloud3 {
        position: absolute;
        top: 115px;
        left: 170px;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        z-index: -2;
        background: white;
    }
    .cloud4 {
        position: absolute;
        top: 135px;
        left: 270px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        z-index: -1;
        background: white;
    }
    .cloud5 {
        position: absolute;
        top: 150px;
        left: 270px;
        width: 150px;
        height: 70px;
        border-radius: 100px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        z-index: -1;
        background: white;
    
        /* Cloud Animations */
    }
    
    @-webkit-keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @-moz-keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @-webkit-keyframes animateCloud2 {
        0% {
            margin-left: -2000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @-moz-keyframes animateCloud2 {
        0% {
            margin-left: -2000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @keyframes animateCloud2 {
        0% {
            margin-left: -2000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @-webkit-keyframes animateCloud3 {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @-moz-keyframes animateCloud3 {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @keyframes animateCloud3 {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    /* Cloud positioning and speed */
    
    .cloud {
        -webkit-animation: animateCloud 90s linear infinite;
        -moz-animation: animateCloud 90s linear infinite;
        animation: animateCloud 90s linear infinite;
        
        -webkit-transform: scale(0.70);
        -moz-transform: scale(0.70);
        transform: scale(0.70);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud2 {
        position: absolute;
        top: 400px;
        -webkit-animation: animateCloud 65s linear infinite;
        -moz-animation: animateCloud 65s linear infinite;
        animation: animateCloud 65s linear infinite;
        
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        transform: scale(0.85);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud3 {
        display: none;
        position: absolute;
        top: 275px;
        z-index: 4;
        -webkit-animation: animateCloud2 68s linear infinite;
        -moz-animation: animateCloud2 68s linear infinite;
        animation: animateCloud2 68s linear infinite;
        
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        transform: scale(0.98);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud4 {
        display: none;
        position: absolute;
        top: 350px;
        -webkit-animation: animateCloud3 52s linear infinite;
        -moz-animation: animateCloud3 52s linear infinite;
        animation: animateCloud3 52s linear infinite;
        
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        transform: scale(1.3);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud5 {
        position: absolute;
        top: 75px;
        -webkit-animation: animateCloud3 80s linear infinite;
        -moz-animation: animateCloud3 80s linear infinite;
        animation: animateCloud3 80s linear infinite;
        
        -webkit-transform: scale(0.54);
        -moz-transform: scale(0.54);
        transform: scale(0.54);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud6 {
        position: absolute;
        top: 300px;
        -webkit-animation: animateCloud3 60s linear infinite;
        -moz-animation: animateCloud3 60s linear infinite;
        animation: animateCloud3 60s linear infinite;
        
        -webkit-transform: scale(0.52);
        -moz-transform: scale(0.52);
        transform: scale(0.52);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud7 {
        display: none;
        position: absolute;
        top: 375px;
        z-index: 3;
        -webkit-animation: animateCloud2 80s linear infinite;
        -moz-animation: animateCloud2 80s linear infinite;
        animation: animateCloud2 80s linear infinite;
        
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
        overflow:-moz-hidden-unscrollable;
    }
    
    .wholeCloud8 {
        position: absolute;
        top: 25px;
        -webkit-animation: animateCloud2 90s linear infinite;
        -moz-animation: animateCloud2 90s linear infinite;
        animation: animateCloud2 90s linear infinite;
        
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        overflow:-moz-hidden-unscrollable;
    }
    
    /* Mountain Creation */
    
    .mountainOne {
        position: absolute;
        bottom: 0px;
        left: -70px;
        border-top: 0px solid transparent;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 205px solid lightgray;
        z-index: -3;
    }
    
    .mountainTwo {
        position: absolute;
        bottom: 0px;
        left: 80px;
        border-top: 0px solid transparent;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 255px solid rgb(168,168,168);
        z-index: -3;
    }
    
    .mountainThree {
        position: absolute;
        bottom: 0px;
        left: -60px;
        border-top: 0px solid transparent;
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        border-bottom: 175px solid rgb(96,96,96);
        z-index: -2;
    }
    
    .mountainFour {
        position: absolute; 
        bottom: 0px;
        left: 200px;
        border-top: 0px solid transparent;
        border-left: 115px solid transparent;
        border-right: 115px solid transparent;
        border-bottom: 200px solid rgb(208,208,208);
        z-index: -3;
    }
    
    .mountainFive {
        position: absolute; 
        bottom: 0px;
        right: 50px;
        border-top: 0px solid transparent;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 100px solid rgb(160,160,160);
        z-index: -1;
    }
    
    .mountainSix {
        position: absolute ;
        bottom: 0px;
        right: 0px;
        border-top: 0px solid transparent;
        border-left: 200px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 200px solid rgb(72,72,72);
        z-index: -1;
    };

    .mountainSeven {
        position: absolute;
        bottom: 0px;
        left: 150px;
        border-top: 0px solid transparent;
        border-left: 350px solid transparent;
        border-right: 350px solid transparent;
        border-bottom: 525px solid grey;
    }
    
    .sun {
        position: absolute;
        bottom: 40px;
        right: 50px;
        width: 300px;
        height: 300px;
        border-radius: 150px;
        border-top: 2px solid rgb(255,196,12);
        border-left: 2px solid rgb(255,196,12);
        border-right: 2px solid rgb(255,196,12);
        border-bottom: 2px solid rgb(255,196,12);
        background: rgb(255,196,12);
        transform: scale(.25);
        z-index: -4;
    }

    .stickMe {
            z-index: 4;
            position: absolute;
            right: 20px;
            bottom: 0px;
            height: 100px;
    }

    .title {
        font-size: 30px !important;
        margin-bottom: 100px !important;
    }
    
    .toBeSmaller {
        color: black;
        text-decoration: none;
        border: 5px solid black;
        padding: 10px;
        background-color: white;
    }
    
    .theCard {
        font-size: 30px;
        text-align: center;
        margin-top: 200px;
        width: 60%;
        margin-left:auto;
        margin-right: auto;
        background: none !important;
        border: none !important;
    }
    }