.cloud1 {
position: absolute;
top: 150px;
left: 70px;
width: 150px;
height: 70px;
border-radius: 100px;
border-top: 2px solid white;
border-left: 2px solid white;
border-right: 2px solid white;
border-bottom: 2px solid white;
z-index: 2;
background: white;
}
.cloud2 {
    position: absolute;
    top: 135px;
    left: 120px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 2;
    background: white;
}
.cloud3 {
    position: absolute;
    top: 115px;
    left: 170px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 2;
    background: white;
}
.cloud4 {
    position: absolute;
    top: 135px;
    left: 270px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 2;
    background: white;
}
.cloud5 {
    position: absolute;
    top: 150px;
    left: 270px;
    width: 150px;
    height: 70px;
    border-radius: 100px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 2;
    background: white;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

.cloud {
    -webkit-animation: animateCloud 62s linear infinite;
    -moz-animation: animateCloud 62s linear infinite;
	animation: animateCloud 62s linear infinite;
	
	-webkit-transform: scale(0.70);
	-moz-transform: scale(0.70);
	transform: scale(0.70);
}

.wholeCloud2 {
    position: absolute;
    top: 400px;
    -webkit-animation: animateCloud 78s linear infinite;
    -moz-animation: animateCloud 78s linear infinite;
	animation: animateCloud 78s linear infinite;
	
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.wholeCloud3 {
    position: absolute;
    top: 275px;
    z-index: 4;
    -webkit-animation: animateCloud 68s linear infinite;
    -moz-animation: animateCloud 68s linear infinite;
	animation: animateCloud 68s linear infinite;
	
	-webkit-transform: scale(0.98);
	-moz-transform: scale(0.98);
	transform: scale(0.98);
}

.wholeCloud4 {
    position: absolute;
    top: 480px;
    -webkit-animation: animateCloud 52s linear infinite;
    -moz-animation: animateCloud 52s linear infinite;
	animation: animateCloud 52s linear infinite;
	
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

.wholeCloud5 {
    position: absolute;
    top: 75px;
    -webkit-animation: animateCloud 84s linear infinite;
    -moz-animation: animateCloud 84s linear infinite;
	animation: animateCloud 84s linear infinite;
	
	-webkit-transform: scale(0.54);
	-moz-transform: scale(0.54);
	transform: scale(0.54);
}

.wholeCloud6 {
    position: absolute;
    top: 300px;
    -webkit-animation: animateCloud 95s linear infinite;
    -moz-animation: animateCloud 95s linear infinite;
	animation: animateCloud 95s linear infinite;
	
	-webkit-transform: scale(0.52);
	-moz-transform: scale(0.52);
	transform: scale(0.52);
}

.wholeCloud7 {
    position: absolute;
    top: 500px;
    z-index: 3;
    -webkit-animation: animateCloud 61s linear infinite;
    -moz-animation: animateCloud 61s linear infinite;
	animation: animateCloud 61s linear infinite;
	
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

.wholeCloud8 {
    position: absolute;
    top: 372px;
    -webkit-animation: animateCloud 51s linear infinite;
    -moz-animation: animateCloud 51s linear infinite;
	animation: animateCloud 51s linear infinite;
	
	-webkit-transform: scale(0.54);
	-moz-transform: scale(0.54);
	transform: scale(0.54);
}